.CardHolder{
    margin: 10px auto;
    width: 50%;
    height: 500px;
    padding: 5px;
    overflow:hidden;
    box-sizing: border-box;
}

.CardHolder:hover{
    overflow: scroll;
    box-sizing: border-box;
}
@media (max-width:500px){
    .CardHolder{
        width: 80%;
    }
}